.fuente {
    font-family: 'Patrick Hand', cursive;
}

div.columna1, div.columna2 {
    border: 1.5px solid grey;
}

div.columna {
    border: 1.5px solid grey;
}

div.columna1 {
    background-color: lightseagreen;
}

div.columna2 { 
    background-color: lightblue;
}

div.columna3 {
    background-color: lightsalmon;
}

div.columna4 {
    background-color: lightcoral;
}#boton{

    color:rgb(0, 0, 0);
    border: 6px solid rgb(51, 215, 221);
    filter:
    contrast(2) brightness(2);
    transition: 0.3s;
    transform: scale(1.05);

}
p#tumama {
    font-size: 1.2em;
}
strong#supapa{
    font-size: 1.6em;
}

div#fotosXD {
background-color: rgb(111, 196, 170);
}

